<!DOCTYPE html>
<html>
  <head>
    <title>eBay Cat {{CategoryID}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">eBay Category {{CategoryID}}</div>
            <table class="table">
              <tr>
                <th class="col-sm-3">Id</th>
                <td>{{CategoryID}}</td>
              <tr>
              <tr>
                <th class="col-sm-3">Name</th>
                <td>{{CategoryName}}</td>
              <tr>
              <tr>
                <th class="col-sm-3">Level</th>
                <td>{{CategoryLevel}}</td>
              <tr>
              <tr>
                <th class="col-sm-3">Is Best Offer Enabled?</th>
                <td>{{BestOfferEnabled}}</td>
              <tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
